<div class="homepage  flex flex-col justify-center items-center h-[100vh] ">
  <img  src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo" width="200" height="60">
  <h1 class="text-4xl font-bold text-red-600">Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>